@use "./scss/variables" as *;

:root {
  font-family: $main-family, $complementary-family, system-ui, Avenir, Helvetica,
    Arial, sans-serif;
  font-weight: 400;

  color-scheme: light dark;
  color: $color-main;
  background-color: $bg-main;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-family: $complementary-family;
}

// @media (prefers-color-scheme: light) {
//   :root {
//     color: $color-main;
//     background-color: $bg-main;
//   }
// }
