$main-family: "DM Sans", sans-serif;
$complementary-family: "Montserrat", sans-serif;

$bg-main: #fff;
$bg-accent: #154444;
$bg-icons: #ecf4ff;
$color-main: #161616;
$color-complementary: #fff;
$color-accent: #244d4d;
$color-icons: #ef5423;
$transition: all 150ms ease-in-out;
$box-shadow: 0 13px 26px rgba(0, 0, 0, 0.25);
