@use "../../scss/variables" as *;

.slider-wrapper {
  display: flex;
  gap: 30px;
  padding: 80px 120px;
  padding-bottom: 40px;
  overflow: hidden;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: $box-shadow;
  aspect-ratio: 1/1;
  overflow: hidden;
  flex: 0 0 380px;
  transition: translate 0.5s ease;
  -webkit-transition: translate 0.5s ease;
  -moz-transition: translate 0.5s ease;
  -ms-transition: translate 0.5s ease;
  -o-transition: translate 0.5s ease;
  .card-img {
    overflow: auto;
    width: 100%;
    height: 100%;
    img {
      vertical-align: top;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .card-content {
    padding: 24px;
    :first-child {
      margin-bottom: 20px;
    }
    .row {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .name {
      font-weight: 500;
      font-size: 20px;
    }
    .icons {
      display: flex;
      gap: 8px;
      font-size: 26px;
      svg {
        cursor: pointer;
        box-sizing: border-box;
        padding: 8px;
        background-color: $bg-icons;
        border-radius: 26px;
        overflow: visible;
        -webkit-border-radius: 26px;
        -moz-border-radius: 26px;
        -ms-border-radius: 26px;
        -o-border-radius: 26px;
        transition: $transition;
        -webkit-transition: $transition;
        -moz-transition: $transition;
        -ms-transition: $transition;
        -o-transition: $transition;
        &:hover {
          background-color: $color-icons;
          color: $color-complementary;
        }
      }
    }
    .price {
      font-weight: 500;
      font-size: 24px;
    }
    .buy {
      cursor: pointer;
      background-color: $color-accent;
      padding: 10px 14px;
      color: $color-complementary;
      font-weight: 500;
      font-size: 12px;
      border: none;
    }
  }
}
